<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

    <head th:fragment="commonHead">
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>It.Next - IT Service Responsive Html Theme</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- site icons -->
        <link rel="icon" href="" th:href="@{/user/images/fevicon/fevicon.png}"
              type="image/gif"/>
        <!-- bootstrap css -->
        <link rel="stylesheet" href="" th:href="@{/user/css/bootstrap.min.css}"/>

        <!--    &lt;!&ndash; Site css &ndash;&gt;-->
        <link rel="stylesheet" href="" th:href="@{/user/css/style.css}"/>


        <!--    &lt;!&ndash; responsive css &ndash;&gt;-->
        <link rel="stylesheet" href="" th:href="@{/user/css/responsive.css}"/>
        <!--    &lt;!&ndash; colors css &ndash;&gt;-->
        <link rel="stylesheet" href="" th:href="@{/user/css/colors1.css}"/>
        <!-- custom css -->
        <link rel="stylesheet" href="" th:href="@{/user/css/custom.css}"/>
        <!-- wow Animation css -->
        <link rel="stylesheet" href="" th:href="@{/user/css/animate.css}"/>
        <!-- revolution slider css -->
        <link rel="stylesheet" type="text/css" href=""
              th:href="@{/user/revolution/css/settings.css}"/>
        <link rel="stylesheet" type="text/css" href=""
              th:href="@{/user/revolution/css/layers.css}"/>
        <link rel="stylesheet" type="text/css" href=""
              th:href="@{/user/revolution/css/navigation.css}"/>


</head>
<body>

</body>
</html>



